{% extends 'base.html' %}

{% block content %}
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Barcode</th>
                <th>Cost Price</th>
                <th>Sale Price</th>
                <th>Last Update Date</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <td>
                {% if product.image %}
                    <img src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="{{ product.name }}" width="50" height="50">
                {% else %}
                    <img src="{{ url_for('static', filename='placeholder.png') }}" alt="Placeholder" width="50" height="50">
                {% endif %}
            </td>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.cost_price }}</td>
                <td>{{ product.sale_price }}</td>
                <td>{{ product.last_update_date }}</td>
                <td>{{ product.supplier.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}